:root {
  --bgcolor: white;
  --fgcolor: black;
  --bgcolor2: #fafafa;
  --linkcolor: #0077b3;
}
.dark-mode {
  --bgcolor: #21252b;
  --fgcolor: white;
  --bgcolor2: #24282e;
  --linkcolor: #24a2e2;
}

html,
body {
  background-color: var(--bgcolor);
  color: var(--fgcolor);
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition: background-color 500ms, color 500ms;
}

* {
  box-sizing: border-box;
}

main {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

code {
  background: var(--bgcolor2);
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
  transition: background 500ms;
}

ul.gamelist {
  display: inline-block;
  list-style: outside none;
  padding: 0;
}

li {
  margin-bottom: 1em;
}

div.gamelist {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 0 auto;
  padding: 10px 0;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: var(--linkcolor);
}

a:hover {
  border-bottom: 1px solid var(--linkcolor);
}

.darkmodeswitch {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
